<ion-header>
  <ion-toolbar>
    <ion-title>Diplomes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>CEP</ion-label>

    </ion-item>
    <br>
    <ion-item>
      <ion-label>BEPC</ion-label>

    </ion-item>
    <br>
    <ion-item>
      <ion-label>PROBATOIRE</ion-label>

    </ion-item>
    <br>
    <ion-item>
      <ion-label>BACCALAUREAT</ion-label>

    </ion-item>

  </ion-list>

  <ion-button color="primary">+</ion-button>
</ion-content>
