<ion-header>
  <ion-toolbar>
    <ion-title>informations</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p class="nom" id="nom" onclick="Modifier()">
    NOM : NGUEMETE DJOUKOUO CLAIRA CYNTICHE
</p>

<p class="infos">
    <img src="./Images/cine.jpg" alt="Appel" height = "20" width = "20" />  <span id="info1" onclick="Modifie()"> TEL: 697649087</span>   <br> <br> <br>
    <img src="Images/whatsapp.png" alt="whatsapp" height="20" width="20"> <span id="info2" onclick="Modifie()">WHATSAPP : 697649098</span>  <br> <br> <br>
    <img src="Images/localisation.png" alt="adresse" height="20" width="20"> <span id="info3" onclick="Modifie()">ADRESSE: Residence Nkomo</span>
</p>
</ion-content>
