<ion-header>
  <ion-toolbar>
    <ion-title>Comptes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>
        <a href="https://github.com/cyntiche/cyntiche.git" target="_blank" rel="noopener noreferrer"> <img src="Images/github.png" alt="github" height="40" width="40"> </a>

      </ion-label>

    </ion-item>
    <br>
    <ion-item>
      <ion-label>
        <a href="https://www.linkedin.com/in/cyntiche-nguemete-2032b8234/" target="_blank" rel="noopener noreferrer"> <img src="Images/linkedin.png" alt="linkedin" height="40" width="40"> </a>

      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>

        <a href="https://stackoverflow.com/?newreg=b07d7fa2532947169b2300e5d437514b" target="_blank" rel="noopener noreferrer"> <img src="Images/Stack_Overflow.png" alt="Stack_Overflow" height="50" width="50"></a>
      </ion-label>
    </ion-item>




