<ion-header>
  <ion-toolbar>
    <ion-title>Loisirs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


    <ion-item>
      <ion-label>
        La lecture
      </ion-label>
      <ion-reorder slot="end"></ion-reorder>
    </ion-item>

    <ion-item>
      <ion-label>
       Les Reseaux sociaux
      </ion-label>
      <ion-reorder slot="end"></ion-reorder>

    </ion-item>
    <ion-item>
      <ion-label>
       Dormir
      </ion-label>
      <ion-reorder slot="end"></ion-reorder>

    </ion-item>


</ion-content>




