<ion-header>
  <ion-toolbar>
    <ion-title>competences</ion-title>
  </ion-toolbar>
</ion-header>
<br>

<ion-content>
  <ion-item>
    <ion-label>
      Html, css
      <br>
      <!-- Default Progressbar with 50 percent -->
      <ion-progress-bar value="0.8"></ion-progress-bar>
    </ion-label>
    <ion-reorder slot="end"></ion-reorder>
  </ion-item>
  <br><br>
  <ion-item>
    <ion-label>
     JavaScript<br>
     <!-- Default Progressbar with 50 percent -->
     <ion-progress-bar value="0.2"></ion-progress-bar>
    </ion-label>
    <ion-reorder slot="end"></ion-reorder>
  </ion-item>
  <br><br>
  <ion-item>
    <ion-label>
     Python<br>
     <!-- Default Progressbar with 50 percent -->
     <ion-progress-bar value="0.5"></ion-progress-bar>
    </ion-label>
    <ion-reorder slot="end"></ion-reorder>
  </ion-item>
  <br><br>
  <ion-item>
    <ion-label>
     Flutter<br>
     <!-- Default Progressbar with 50 percent -->
     <ion-progress-bar value="0.4"></ion-progress-bar>
    </ion-label>
    <ion-reorder slot="end"></ion-reorder>
  </ion-item>
</ion-content>
