<ion-header>
  <ion-toolbar>
    <ion-title>Langues</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>
      Francais
      <br>
      <!-- Default Progressbar with 50 percent -->
      <ion-progress-bar value="0.8"></ion-progress-bar>
    </ion-label>
    <ion-reorder slot="end"></ion-reorder>
  </ion-item>
  <br><br>
  <ion-item>
    <ion-label>
     Anglais<br>
     <!-- Default Progressbar with 50 percent -->
     <ion-progress-bar value="0.2"></ion-progress-bar>
    </ion-label>
    <ion-reorder slot="end"></ion-reorder>
  </ion-item>
</ion-content>
